@page 
@model E_commerce_website.Pages.CartModel


@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />

    @*<link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css"/>*@
}
        @{
           
<section class="product-details">
    <div class="details" style="width: 100%">
        <h2 class="product-brand">Shopping Cart</h2>
        <a href="#">Deselect all items</a>

        <p class="product-sub-heading">Products</p>

        <form method="post" class="row text-center align-items-center ">
        <input type="hidden" asp-for="ProductTypeCount" id="hiddenProductTypeCount"/>
        <input type="hidden" asp-for="ProductCount" id="hiddenProductCount" />
        <input type="hidden" asp-for="TotalPrice" id="hiddenTotalPrice"/>
            <div class="col-9" >
                @for(int i=0; i< Model.Products.Count; i++){
                        <input type="hidden" asp-for="@Model.Products[i].ProductId" />
                        <input type="hidden" asp-for="@Model.Products[i].ProductName" />
                        <input type="hidden" asp-for="@Model.Products[i].ProductImg" />
                        <input type="hidden" asp-for="@Model.Products[i].ProductSellPrice" id="hiddenPrice_@Model.Products[i].ProductId" />
                        <input type="hidden" asp-for="@Model.Products[i].ProductQty" id="hiddenQty_@Model.Products[i].ProductId" />
                        <input type="hidden" asp-for="@Model.Products[i].UserCartId" />
                        <input type="hidden" asp-for="@Model.Products[i].OrderSellPrice" />
                 <div class="row border border-dark align-items-center">
                    <div class="col-1 m-3">
                        <input type="checkbox" class="checkbox" id="selected">
                    </div>
                    <div class="col-2 m-3" > 
                                <img style="height:100px; width:100px" src="~/uploads/@Model.Products[i].ProductImg" />
                    </div>
                            <div class="col-4 m-3">
                            <p>@Model.Products[i].ProductName</p>
                            <p>
                                    <input type="hidden" asp-for="@Model.Products[i].ProductQty" id="hiddenProductQuantity_@Model.Products[i].ProductId"/>
                                    <select asp-for="@Model.Products[i].ProductQty" name="@Model.Products[i].ProductQty" id="quantityDropdown_@Model.Products[i].ProductId" data-product-id="@Model.Products[i].ProductId" data-product-price="@Model.Products[i].ProductSellPrice">
                                        <option value="1">Qty: 1</option>
                                        <option value="2">Qty: 2</option>
                                        <option value="3">Qty: 3</option>
                                        <option value="4">Qty: 4</option>
                                        <option value="5">Qty: 5</option>
                                        <option value="6">Qty: 6</option>
                                        <option value="7">Qty: 7</option>
                                        <option value="8">Qty: 8</option>
                                        <option value="9">Qty: 9</option>
                                        <option value="10">Qty: 10</option>
                                    </select>
                            </p>
                            </div>
                            <p class="col-3 m-3" id="priceDisplay_@Model.Products[i].ProductId">$@Model.Products[i].OrderSellPrice</p>
                </div>
                }
                
            </div>
            <div class="col-3">
                       
                        <p id="displaySubtotal">Subtotal (@Model.ProductCount item(s)): $@Model.TotalPrice</p>

                    <p>
                        <button type="submit" class="buttons" style="    
                        padding: 10px 30px;
                        text-transform: capitalize;
                        color: #fff;
                        background: #383838;
                        border-radius: 5px;
                        border: none;
                         outline: none;
                         margin-right: 10px;
                            cursor: pointer;">
                            Proceed to Checkout
                        </button>
                    </p>
            </div>
            
        </form>
        
    </div>
</section>

<section class="detail-des">

            <h2 class="heading" id="displaySubtotal2">Subtotal (@Model.ProductCount items): $@Model.TotalPrice</h2>

</section>
}
@section Scripts
    {
    <script src="~/js/product.js"></script>
    <script src="~/js/cart.js"></script>
}


