@page 
@model E_commerce_website.Pages.CartModel


@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css"/>*@
}
        @{
            decimal? totalPrice = 0;
<section class="product-details">
    <div class="details" style="width: 100%">
        <h2 class="product-brand">Shopping Cart</h2>
        <a href="#">Deselect all items</a>

        <p class="product-sub-heading">Products</p>

        <form method="post" class="row text-center align-items-center ">
        <input type="hidden" asp-for="Count"/>
            <div class="col-9" >
                @foreach(var product in Model.Products){
                        <input type="hidden" asp-for="@product.sellPrice" id="product.sellPrice" name="product.sellPrice" />
                    <input type="hidden" asp-for="@product.name"/>
  
                    totalPrice = totalPrice + product.sellPrice;
                 <div class="row border border-dark align-items-center">
                    <div class="col-1 m-3">
                        <input type="checkbox" class="checkbox" id="selected">
                    </div>
                    <div class="col-2 m-3" > 
                        <img style="height:100px; width:100px" src="~/uploads/@product.imgLocation1"/>   
                    </div>
                    <div class="col-4 m-3" > @product.name </div>
                    <div class="col-3 m-3" >@product.sellPrice</div>
                </div>
                }
                
            </div>
            <div class="col-3">
            @if(Model.Count > 1){
                        <p>Subtotal (@Model.Count items): $@totalPrice</p>
                    }
                    else
                    {
                        <p>Subtotal (@Model.Count item): $@totalPrice</p>
                    }
                    <p><button class="buttons">Proceed to Checkout</button></p>
            </div>
            
        </form>
        
    </div>
</section>

<section class="detail-des">
    @if(Model.Count > 1)
    {
            <h2 class="heading">Subtotal (@Model.Count items): $@totalPrice</h2>
    }
    else
    {
            <h2 class="heading">Subtotal (@Model.Count item): $@totalPrice</h2>
    }
</section>
}
@section Scripts
    {
    <script src="~/js/product.js"></script>
}


