@page 
@model E_commerce_website.Pages.ProductModel


@section Styles {
    <link href="@Url.Content("~/css/product.css")" rel="stylesheet" type="text/css" />
}

<div id="notification-banner">
    <p id="notification-message">"@Model.InsertedProductName" Added To Cart. <a style="color:white;" asp-page="/Cart">Go To Cart</a></p>
</div>

<section class="product-details">
    <div class="image-slider" style="background-image: url('@Url.Content("~/uploads/"+Model.Product.imgLocation1)');">
        <div class="product-images">
            <img src="~/uploads/@Model.Product.imgLocation1" class="active" alt="">
            <img src="~/uploads/@Model.Product.imgLocation2" alt="">
            <img src="~/uploads/@Model.Product.imgLocation3" alt="">
            <img src="~/uploads/@Model.Product.imgLocation4" alt="">
        </div>
    </div>
    <form method="post" class="details">
        <input type="hidden" asp-for="Product.id" name="Product.id"/>
        <input type="hidden" asp-for="Product.name" name="Product.name" />
        <input type="hidden" asp-for="Product.imgLocation1" name="Product.imgLocation1" />
        <input type="hidden" asp-for="Product.imgLocation2" name="Product.imgLocation2" />
        <input type="hidden" asp-for="Product.imgLocation3" name="Product.imgLocation3" />
        <input type="hidden" asp-for="Product.imgLocation4" name="Product.imgLocation4" />
        <input type="hidden" asp-for="Product.descriptionShort" />
        <input type="hidden" asp-for="Product.descriptionLong" />
        <input type="hidden" asp-for="Product.sellPrice" />
        <input type="hidden" asp-for="Product.fullPrice" />
        <input type="hidden" asp-for="Product.discount" />
        <h2 class="product-brand">@Model.Product.name</h2>
        <p class="product-short-des">@Model.Product.descriptionShort</p>
        <span class="product-price">$@Model.Product.sellPrice</span>
        <span class="product-actual-price">$@Model.Product.fullPrice</span>
        <span class="product-discount">( @Model.Product.discount% off )</span>

      @*  <p class="product-sub-heading">select scent</p>

        <input type="radio" name="scent" value="christmas" checked hidden id="christmas-scent">
        <label for="christmas-scent" class="scent-radio-btn check">christmas</label>
        <input type="radio" name="scent" value="toffee" hidden id="toffee-scent">
        <label for="toffee-scent" class="scent-radio-btn">toffee</label>
        <input type="radio" name="scent" value="linen" hidden id="linen-scent">
        <label for="linen-scent" class="scent-radio-btn">linen</label>
        <input type="radio" name="scent" value="rose" hidden id="rose-scent">
        <label for="rose-scent" class="scent-radio-btn">rose</label>*@
        @*<input type="radio" name="scent" value="lavender" hidden id="lavender-scent">
        <label for="lavender-scent" class="scent-radio-btn">lavender</label>*@
        <p>
        <button type="submit" class="btn cart-btn">add to cart</button>
        <button class="btn">add to wishlist</button>
        </p>
    </form>
</section>

<section class="detail-des">
    <h2 class="heading">description</h2>
    <p class="des">@Model.Product.descriptionLong</p>
</section>

@if (Model.IsAddProductSuccessful)
{
    <script>
        var isOperationSuccessful = true;
    </script>
}
else
{
    <script>
        var isOperationSuccessful = false;
    </script>
}

@section Scripts
    {
    <script src="~/js/product.js"></script>
}


