@page 
@model E_commerce_website.Pages.searchModel
@{
}

@section Styles {
    <link href="@Url.Content("~/css/search.css")" rel="stylesheet" type="text/css" />
}

<section class="search-results">
    <h2 class="heading">search results for <span>@Model.searchKeyword</span></h2>
    @if(Model.Products.Count <= 0)
    {
       <p> Your search did not match any products.</p>
    }
    else{
        <div class="product-container">
        @for (int i = 0; i < Model.Products.Count; i++)
         {      
            <div class="product-card">
                <div class="product-image">
                    <span class="discount-tag">@Model.Products[i].discount% off</span>
                    <a asp-page="/Product" asp-route-productId=@Model.Products[i].id>
                        <img class="product-thumb" src="~/uploads/@Model.Products[i].imgLocation1" />
                    </a>
                    <button class="card-btn">add to wishlist</button>
                </div>
                <div class="product-info">
                    <a class="product-brand" asp-page="/Product" asp-route-productId=@Model.Products[i].id>
                         <h2 class="product-brand">@Model.Products[i].name</h2>
                    </a>
                    <p class="product-short-des">@Model.Products[i].descriptionShort</p>
                    <span class="price">$@Model.Products[i].sellPrice</span>
                    <span class="actual-price">$@Model.Products[i].fullPrice</span>
                </div>
            </div>      
        }
       </div>
    }
</section>


